**<center>Continuação**

In [1]:
import pandas as pd

auto = pd.read_csv('Auto.csv',na_values=['?'])

Utilize o método isna() do DataFrame para gerar um DataFrame booleano.<br>
Este método substitui cada valor por True, se o valor for 'na', e False se não for 'na'.<br>
Juntamente, chame o método sum() do DataFrame booleano retornado por isna() para somar <br>
os valores True ao longo das colunas. Em Python, True é considerado como 1 e False como 0.<br>

In [2]:
auto.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      5
weight          0
acceleration    0
year            0
origin          0
name            0
dtype: int64

In [3]:
# Resultado: Há 5 valores ausentes na coluna horsepower

Verifique o shape do DataFrame

In [4]:
auto.shape

(397, 9)

Remova as linhas com dados ausentes com o método dropna()

In [5]:
auto = auto.dropna()

Verifique o shape do DataFrame

In [6]:
auto.shape

(392, 9)

Reorganize o índice

In [7]:
auto

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
392,27.0,4,140.0,86.0,2790,15.6,82,1,ford mustang gl
393,44.0,4,97.0,52.0,2130,24.6,82,2,vw pickup
394,32.0,4,135.0,84.0,2295,11.6,82,1,dodge rampage
395,28.0,4,120.0,79.0,2625,18.6,82,1,ford ranger
396,31.0,4,119.0,82.0,2720,19.4,82,1,chevy s-10

In [8]:
auto = auto.dropna().reset_index(drop=True)

In [9]:
auto

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
387,27.0,4,140.0,86.0,2790,15.6,82,1,ford mustang gl
388,44.0,4,97.0,52.0,2130,24.6,82,2,vw pickup
389,32.0,4,135.0,84.0,2295,11.6,82,1,dodge rampage
390,28.0,4,120.0,79.0,2625,18.6,82,1,ford ranger
391,31.0,4,119.0,82.0,2720,19.4,82,1,chevy s-10

Como não especificamos uma coluna de índice quando carregamos os dados, as linhas <br>
são rotuladas usando números inteiros. Verifique utilizando o atributo index

Use o método set_index() para renomear as linhas usando o conteúdo da coluna 'name'

In [10]:
auto = auto.set_index('name')

Verifique o índice, novamente

In [11]:
auto.index

Index(['chevrolet chevelle malibu', 'buick skylark 320', 'plymouth satellite',
       'amc rebel sst', 'ford torino', 'ford galaxie 500', 'chevrolet impala',
       'plymouth fury iii', 'pontiac catalina', 'amc ambassador dpl',
       ...
       'chrysler lebaron medallion', 'ford granada l', 'toyota celica gt',
       'dodge charger 2.2', 'chevrolet camaro', 'ford mustang gl', 'vw pickup',
       'dodge rampage', 'ford ranger', 'chevy s-10'],
      dtype='object', name='name', length=392)

Agora que o índice foi definido com a coluna 'name', podemos acessar as linhas do DataFrame <br>
pelo nome usando o **método** loc[ ].<br>
Exiba as linhas do modelo 'toyota corolla'.<br>
https://pandas.pydata.org/docs/user_guide/indexing.html

In [12]:
auto.loc['toyota corolla']

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin
name,,,,,,,,
toyota corolla,29.0,4,97.0,75.0,2171,16.0,75,3
toyota corolla,28.0,4,97.0,75.0,2155,16.4,76,3
toyota corolla,32.2,4,108.0,75.0,2265,15.2,80,3
toyota corolla,32.4,4,108.0,75.0,2350,16.8,81,3
toyota corolla,34.0,4,108.0,70.0,2245,16.9,82,3

Exiba as 3 primeiras linhas usando slicing.<br>
O slicing do pandas é uma maneira de acessar subconjuntos de dados em um DataFrame ou <br>
em uma Series. Ele é semelhante ao slicing em listas e arrays do NumPy.

In [13]:
auto[:3]

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin
name,,,,,,,,
chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,1
buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,1
plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,1

In [14]:
auto[3:]    # isto exibe da quarta linha até a última

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin
name,,,,,,,,
amc rebel sst,16.0,8,304.0,150.0,3433,12.0,70,1
ford torino,17.0,8,302.0,140.0,3449,10.5,70,1
ford galaxie 500,15.0,8,429.0,198.0,4341,10.0,70,1
chevrolet impala,14.0,8,454.0,220.0,4354,9.0,70,1
plymouth fury iii,14.0,8,440.0,215.0,4312,8.5,70,1
...,...,...,...,...,...,...,...,...
ford mustang gl,27.0,4,140.0,86.0,2790,15.6,82,1
vw pickup,44.0,4,97.0,52.0,2130,24.6,82,2
dodge rampage,32.0,4,135.0,84.0,2295,11.6,82,1
ford ranger,28.0,4,120.0,79.0,2625,18.6,82,1
chevy s-10,31.0,4,119.0,82.0,2720,19.4,82,1

Exiba as 3 últimas linhas usando slicing.

In [15]:
auto[-3:]

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin
name,,,,,,,,
dodge rampage,32.0,4,135.0,84.0,2295,11.6,82,1
ford ranger,28.0,4,120.0,79.0,2625,18.6,82,1
chevy s-10,31.0,4,119.0,82.0,2720,19.4,82,1

Métodos head e tail

In [16]:
auto.head(3)

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin
name,,,,,,,,
chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,1
buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,1
plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,1

In [17]:
auto.tail(3)

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin
name,,,,,,,,
dodge rampage,32.0,4,135.0,84.0,2295,11.6,82,1
ford ranger,28.0,4,120.0,79.0,2625,18.6,82,1
chevy s-10,31.0,4,119.0,82.0,2720,19.4,82,1

Subconjuntos de linhas usando arrays de booleanos

In [18]:
idx_80 = auto['year'] > 80

Verifique o tipo de idx_80

In [19]:
type(idx_80)

pandas.core.series.Series

Acesse o primeiro elemento de idx_80

In [20]:
idx_80[0]

C:\Users\sandr\AppData\Local\Temp\ipykernel_6104\2438976034.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  idx_80[0]

False

In [21]:
idx_80.iloc[0]

False

In [22]:
idx_80['chevrolet chevelle malibu']

name
chevrolet chevelle malibu    False
chevrolet chevelle malibu    False
Name: year, dtype: bool

In [23]:
idx_80.loc['chevrolet chevelle malibu']

name
chevrolet chevelle malibu    False
chevrolet chevelle malibu    False
Name: year, dtype: bool

Acesse o último elemento de idx_80

In [24]:
idx_80[391]

C:\Users\sandr\AppData\Local\Temp\ipykernel_6104\1217015364.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  idx_80[391]

True

In [25]:
idx_80.iloc[391]

True

In [26]:
idx_80['chevy s-10']

True

In [27]:
idx_80.loc['chevy s-10']

True