In [1]:
import pandas as pd
dados = pd.read_csv('vendedores.csv')
dados

   nome  salarioBase  valorVendas
0   Ivo       1500.0       7000.0
1  Iumi       2500.0       8000.0
2  Alan       1000.0       6000.0
3   Ian       3500.0      10000.0
4   Bia       3000.0       5000.0
5   Gil       2000.0       9000.0

In [5]:
nome = dados['nome']
salarioBase = dados['salarioBase']
valorVendas = dados['valorVendas']

In [6]:
type(nome)

pandas.core.series.Series

In [7]:
type(dados)

pandas.core.frame.DataFrame

In [10]:
soma = 0
for i in range(6):
    soma += valorVendas[i]
    
print(soma/len(valorVendas))

7500.0

In [11]:
valorVendas.sum()

45000.0

In [12]:
valorVendas.mean()

7500.0

In [13]:
for nm,sb in zip(nome, salarioBase):
    if sb < 2000:
        print(nm)

Ivo
Alan